{% extends "base.html" %}

{% block main %}
<div id="breadcrumbs">
    <a href="{% url "index" %}">Home</a>&nbsp;
    > <a href="{% url "device_info" device.id %}">{{ device.title }}</a>&nbsp;
    > <a href="{% url "device_forum" device.id %}">Device Forum</a>&nbsp;
    > Add topic
</div>
<main id="device-main" class="register-main">
    <div id="add-topic">
        <h2>Add a new topic</h2>
        <form action="#" method="post" class="form-list" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Topic&nbsp;name:&nbsp;{{ topic_form.name }}</label>
            <label>Topic type:</label>
            <div>
                {% for choice in topic_form.topic_type %}
                    {{ choice.tag }}<label for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                {% endfor %}
                <div class="hide-if-comment">
                    <label>Review image: {{ topic_form.image }}</label>
                    <label>Review score:&nbsp;{{ topic_form.score }}</label>
                </div>
            </div>
            <label>Contents:</label>
            {{ topic_form.contents }}
            <input type="submit" value="Add new topic" />
        </form>
    </div>
</main>
{% endblock %}
