{% extends "base.html" %}

{% block main %}
<div id="breadcrumbs">
    <a href="{% url "index" %}">Home</a>&nbsp;
    > <a href="{% url "device_info" device.id %}">{{ device.title }}</a>&nbsp;
    > Edit device
</div>
<form action="device-info-li.html" method="post" id="device-main">
    <aside id="images" class="aside-left form-list">
        <h2>Images:</h2>
        <label>Main image:</label><input type="file" name="pic1" accept="image/*" required>
        <label>Image 2:</label><input type="file" name="pic2" accept="image/*">
        <label>Image 3:</label><input type="file" name="pic3" accept="image/*">
        <label>Image 4:</label><input type="file" name="pic4" accept="image/*">
    </aside>
    <div id="info" class="grow form-list">
        <div id="device-header">
            <h2>Main info:</h2>
        </div>
        <label>Title:&nbsp;<input type="text" name="title" class="ignore-calc" required /></label>
        <label>Description:</label>
        <textarea name="description" rows="8" required></textarea>
        <input type="submit" value="Add device" />
    </div>
    <aside id="specifications" class="aside-right aside-border-left">
        <table>
            <tr><th colspan="2">Technical specifications:</th></tr>
            <tr><td><input type="text" name="spec1" placeholder="specification" size="10" /></td><td><input type="text" name="val1" placeholder="value" size="10" /></td></tr>
            <tr><td><input type="text" name="spec2" placeholder="specification" size="10" /></td><td><input type="text" name="val2" placeholder="value" size="10" /></td></tr>
            <tr><td><input type="text" name="spec3" placeholder="specification" size="10" /></td><td><input type="text" name="val3" placeholder="value" size="10" /></td></tr>
            <tr><td><input type="text" name="spec4" placeholder="specification" size="10" /></td><td><input type="text" name="val4" placeholder="value" size="10" /></td></tr>
        </table>
    </aside>
</form>
{% endblock %}
