{% extends "base.html" %}

{% load i18n %}

{% block main %}
<div id="breadcrumbs">
    <a href="{% url "index" %}">{% blocktrans %}Home{% endblocktrans %}</a>&nbsp;
    > <a href="{% url "device_info" device.id %}">{{ device.title }}</a>&nbsp;
    > <a href="{% url "device_forum" device.id %}">{% blocktrans %}Device Forum{% endblocktrans %}</a>&nbsp;
    > {% blocktrans %}Add topic{% endblocktrans %}
</div>
<main id="device-main" class="register-main">
    <div id="add-topic">
        <h2>{% blocktrans %}Add a new topic{% endblocktrans %}</h2>
        <form action="#" method="post" class="form-list" enctype="multipart/form-data">
            {% csrf_token %}
            <label>{% blocktrans %}Topic&nbsp;name{% endblocktrans %}:&nbsp;{{ topic_form.name }}</label>
            <label>{% blocktrans %}Topic type{% endblocktrans %}:</label>
            <div>
                {% for choice in topic_form.topic_type %}
                    {{ choice.tag }}<label for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                {% endfor %}
                <div class="hide-if-comment">
                    <label>{% blocktrans %}Review image{% endblocktrans %}: {{ topic_form.image }}</label>
                    <label>{% blocktrans %}Review score{% endblocktrans %}:&nbsp;{{ topic_form.score }}</label>
                </div>
            </div>
            <label>{% blocktrans %}Contents{% endblocktrans %}:</label>
            {{ topic_form.contents }}
            <input type="submit" value="{% blocktrans %}Add new topic{% endblocktrans %}" />
        </form>
    </div>
</main>
{% endblock %}
