{% extends "base.html" %}

{% load tags %}
{% load i18n %}

{% block main %}
<div id="breadcrumbs">
    <a href="{% url "index" %}">{% blocktrans %}Home{% endblocktrans %}</a>&nbsp;
    > {{ device.title }}
</div>
<main id="device-main">
    <aside id="images" class="aside-left">
        <img id="img-main" data-num="1" src="{{ main_img.url }}" alt="main image" width=280 height=420 />

        <div>
            {% for si in sub_images %}
                <a class="img-link" href="{% url "device_info" device.id %}?img={{ si }}">
                <img data-num="{{ si }}" src="{{ sub_images|get_subimage_url:si }}" alt="thumbnail" width="90" height="90" /></a>
            {% endfor %}
        </div>
    </aside>
    <div id="info" class="grow">
        <div id="device-header">
            <h2>{{ device.title }}</h2>
            <div id="user-score">
                {% blocktrans %}User reviews{% endblocktrans %}:<br />
                {{ device.get_score }} {% blocktrans %}stars{% endblocktrans %}
            </div>
        </div>
        <p>
            {{ device.description }}
        </p>

        <div class="button-wrapper">
            {% if user.is_authenticated %}
            <a href="{% url "device_edit" device.id %}" class="link-button">{% blocktrans %}Edit device{% endblocktrans %}</a>
            {% endif %}
            <a href="{% url "device_forum" device.id %}" class="link-button">{% blocktrans %}Device forum{% endblocktrans %}</a>
        </div>
        <div class="button-wrapper">
            {% if perms.gadgetfreak_web.delete_device %}
            <a href="{% url "device_delete" device.id %}" class="link-button">{% blocktrans %}Delete device{% endblocktrans %}</a>
            {% endif %}
        </div>
    </div>
    <aside id="specifications" class="aside-right">
        <table>
            <tr><th colspan="2">{% blocktrans %}Technical specifications{% endblocktrans %}:</th></tr>
            {% for spec in specs %}
                <tr><td>{{ spec.name }}:</td><td>{{ spec.value }}</td></tr>
            {% endfor %}
        </table>
    </aside>
</main>
{% endblock %}
