{% extends "base.html" %}

{% block main %}
<div id="breadcrumbs">
    <a href="{% url "index" %}">Home</a>&nbsp;
    > <a href="{% url "device_info" device.id %}">{{ device.title }}</a>&nbsp;
    > Device Forum
</div>
<main>
    <div class="my-list-wrapper grow">
        <h2 class = "my-list-header">{{ device.title }} Forum:</h2>
        <ul class="my-list" id="topic-list">
            {% for topic in topics %}
            <li>
                <img src="{{ topic.author.profile.profile_img.url }}" alt="profile picture" />
                <div class="topic-info">
                    <a href="{% url "topic" device.id topic.id %}">{{ topic.get_topic_type_display }}: {{ topic.name }}</a>
                    <p>Date: {{ topic.date }}</p>
                    <p>Author: {{ topic.author.username }}</p>
                </div>
                <div class="device-stats">
                    {% if topic.topic_type == "R" %}
                    <div>{{ topic.score }} stars</div>
                    {% endif %}
                    <div>{{ topic.get_no_comments }} comments</div>
                </div>
            </li>
            {% endfor %}
            <li class="my-list-comments">
                <a href="{% url "add_topic" device.id %}" class="link-button">Add review or comment</a>
            </li>
            <li class="my-list-pagination">
                {% include "pagination.html" %}
            </li>
        </ul>
    </div>
</main>
{% endblock %}
