{% extends "base.html" %}

{% load tags %}

{% block main %}
<main id="device-main">
    <aside id="images" class="aside-left">
        <img id="img-main" data-num="1" src="{{ main_img.url }}" alt="main image" />

        <div>
            {% for si in sub_images %}
                <a class="img-link" href="{% url "device_info" device.id %}?img={{ si }}">
                <img data-num="{{ si }}" src="{{ sub_images|get_subimage_url:si }}" alt="thumbnail" width="90px" height="90px" /></a>
            {% endfor %}
        </div>
    </aside>
    <div id="info" class="grow">
        <div id="device-header">
            <h2>{{ device.title }}</h2>
            <div id="user-score">
                User reviews:<br />
                4.6 stars
            </div>
        </div>
        <p>
            {{ device.description }}
        </p>

        <div class="button-wrapper">
            <a href="device-forum.html?device=GoAmateur" class="link-button">Device forum</a>
        </div>
    </div>
    <aside id="specifications" class="aside-right">
        <table>
            <tr><th colspan="2">Technical specifications:</th></tr>
            {% for spec in specs %}
                <tr><td>{{ spec.name }}:</td><td>{{ spec.value }}</td></tr>
            {% endfor %}
        </table>
    </aside>
</main>
{% endblock %}
