html {
    width: 100%;
}

body {
    width: 960px;
    margin: auto;
}

header {
    display: flex;
}

header > h1 {
    margin-right: auto;
}

main {
    display: flex;
}

.grow {
    flex-grow: 1;
}

#device-list {
    list-style-type: none;
}

#device-list > li, #review-list > li {
    display: flex;
}

.device-stats {
    margin-left: auto;
}

aside {
    width: 300px;
}
