html {
    background-color: #46494C;
}

body {
    background-color: #C5C3C6;
    width: 960px;
    margin: auto;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
}

header > h1 {
    margin-right: auto;
}

main {
    display: flex;
    flex-grow: 1;
}

.grow {
    flex-grow: 1;
}

#device-list {
    list-style-type: none;
}

#device-list > li, #review-list > li {
    display: flex;
}

.device-stats {
    margin-left: auto;
}

aside {
    width: 300px;
}
