#search {
    float: right;
}

main {
    width: 100%;
}

main {
    width: 70%;
    float: left;
}

aside {
    width: 30%;
    float: right;
}

aside > #add-device {
    width: 100%;
}

aside > table {
    width: 100%;
}

#review-list {
    list-style-type: none;
}

#review-list > li {
    clear: both;
}

#review-list > li > img {
    float: left;
}
