main {
    width: 80%;
    float: right;
}

#device-list {
    list-style-type: none;
}

#device-list > li {
    clear: both;
}

#device-list > li > img {
    float: left;
}

#device-list > li > .device-info {
    float: left;
}

#device-list > li > .device-stats {
    float: right;
}
